{% extends 'base.html.twig' %}

{% block title %}Home page snow tricks{% endblock %}

{% block body %}


    <div class="container ">

        <div class="jumbotron mt-4">

            <h1 class="display-3 text-center">Bienvenu sur Snow tricks</h1>


        </div>

        <div class="row ">

            {% for i in 1..6 %}
                <div class="col-md-2 text-center">

                    <div class="card border-primary mb-3 flex-fill" style="max-width: 12rem;">
                        <!-- <div class="card-header"><i class='fas fa-pen'></i>
                            <i class='fas fa-trash-alt'></i>

                        </div>    -->
                        <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Nom de la Figure</h4>

                            <a href="{{ path('figure') }}" class="card-link">Lien vers la
                                figure</a>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
