{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="container mt-4">
        <h2>Modifier image de présentation de {{ title }}</h2>
        {{ form_row(form.image_base) }}
        <div class="row">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

