<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>email</title>


</head>
<body>
<p>Bonjour {{ lastName }}

    Cliquez sur le lien pour accéder au formulaire de changement de mot de passe:
    <a href="https://www.thesite.com?token={{ token }}">{{ token }}</a>
</p>

</body>
</html>
