<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>email</title>


</head>
<body>
<p>Hi there,

    your message : <a href="https://www.thesite.com?token={{ token }}">{{ token }}</a>
    Good luck! Hope it works.</p>

</body>
</html>
