<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email d'inscription</title>


</head>
<body>
<p>Bonjour {{ lastName }}

    {{ message }}

    <a href="http://localhost:8000/home?user_token={{ token }}">{{ token }}</a>
</p>git

</body>
</html>
